body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
}

header {
    background-color: #1e2a78;
    color: #ffffff;
    padding: 15px;
    text-align: center;

}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    border-radius: 10px; /* Tambahkan border radius di sini */
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #12235c;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

article {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

article:hover {
    background-color: #f0f8ff; /* Ubah warna latar belakang saat hover */
}

footer {
    background-color: #1e2a78;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
